<!--
<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as menu">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="menu.searchterm">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="menu.getmatchedmenuitem(searchterm);">Narrow It Down For Me!</button>
    </div>

    <!-- found-items should be implemented as a component -->
    <!--<found-items found-items="...." on-remove="...."></found-items>
    <ul>
      <li ng-repeat="item in menu.found" >
        {{item.name}}
      </li>
    </ul>
    
  </div>

</body>
</html>-->
<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
    
	<script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller='NarrowItDownController as menu'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="menu.searchTerm">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" ng-click="menu.narrowItDown(menu.searchTerm);">Narrow It Down For Me!</button>
    </div>

    <ul>
      <li ng-repeat="item in menu.found">
        {{item.name}} , {{item.short_name}} , {{item.description}}
        <button class="btn btn-warning" ng-click="menu.removeItem($index);">Don't want this one!</button>
      </li>
      <div class="alert alert-info" ng-if="menu.checkFoundList()">Nothing found</div>
    </ul>
  </div>

</body>
</html>